<div id="<%= dom_id question %>">
  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= question.type_of_question %>
  </p>

  <p>
    <strong>Has Points:</strong>
    <%= question.has_points %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= question.points %>
  </p>

</div>
